@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: 'Cabin';
}

html {
    min-height: 100%;
    position: relative;
}

body {
    padding: 25px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

#title {
    font-size: 50px;
}

#highlight-app-name {
    opacity: 1;
    transition: opacity 1.5s;
    background: linear-gradient(90deg, #e12345, #9c11e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

#top p {
    display: inline-block;
}

.n-link {
    color: #e12323;
    text-decoration: none;
}

.n-link:hover {
    text-decoration: underline;
}