@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: 'Cabin';
}

html {
    min-height: 100%;
    position: relative;
}

/* Footer styles */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background-color: #000;
    color: #fff;
}

footer a:not(.link-icon) {
    padding: 25px;
}

footer a.link-icon {
    bottom: 0;
    overflow: hidden;
}

footer a.link-icon img {
    width: 25px;
    height: 25px;
    padding: 10px;
    transition: ease 0.1s;
}

footer a.link-icon img:hover {
    width: 27px;
    height: 27px;
}

#footer-logo {
    font-size: 50px;
    padding: 10px;
    font-weight: 700;
    margin: 40px 0 0;
}

footer p {
    padding: 10px;
    margin: 0;
}

/* Other styles */

#title {
    font-size: 50px;
}

#highlight-app-name {
    opacity: 1;
    transition: opacity 1.5s;
    background: linear-gradient(90deg, #e12345, #9c11e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

#top p {
    display: inline-block;
}

.gr-description {
    background: linear-gradient(180deg, #e12345, #e17c23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding: 0;
    font-size: 20px;
}

.no-margin {
    margin: 0;
}